<h2>Estadísticas de Comentarios:</h2>

<p>Número de preguntas listadas: <%= quizes %></p>
<p>Comentarios publicados: <%= comments %></p>
<p>Media de Comentarios publicados: <%= media %></p>
<p>Preguntas sin comentarios: <%= sin_comments %></p>
<p>Preguntas con comentarios:<%= con_comments %></p> 
